<div class="spacer spacer-first">
    <div class="container">
        <div class="code-section">
            <div class="title">
                {{ "Publish your code easily" }}
            </div>
            <img
                src="/assets/images/code_snippet1.svg"
                class="code-snippet mat-elevation-z7"
            />
            <div class="actions">
                <button mat-raised-button color="primary" routerLink="/sign-in/registration">
                    Get free trial
                </button>
            </div>
        </div>
    </div>
</div>
<img class="curve-spliterator" src="/assets/images/wave.svg" />
